/* font-family: "Playfair Display",
 serif;
 font-family: "Poppins",
 sans-serif; */
 /*copy the code to use the fonts*/
 h1{
    font-family: "Playfair Display",
            serif;
 }
 p{
    font-family: "Poppins",
            sans-serif;
 }